@{
    ViewData["Title"] = "Home Page";
}

<div class="bgi">
    <div class="bgc bgs">
        <div id="introBox" style="margin-bottom:100px">Canberra Restaurants</div>
        <div id="quote" style="padding-bottom:100px;">
            <p class="frontQ">"People who love to eat are always the best people."</p>
            <h1 class="niccone" style="padding-top:0px;">Julia Child</h1>
        </div>
    </div>
</div>

<!-- Belluci's Italian -->
<div class="bgi bgi-bi">
    <div class="bgc bgs">
        <div class="restaurant" style="padding-bottom:100px;">
            <h1 class="niccone" style="padding-top:0px;">Belluci's Italian</h1>
            <p class="rest-descrpt">
                "Belluci's demonstrates a new concept, a new food philosophy – the dawn of a new era in Canberra dining.
                Having been established more than 20 years ago, Belluci's fast became an iconic name in Canberra.
                To bring you the finest dishes, we’ve gone back to traditional Italian routes, creating simple, rustic food."
            </p>
        </div>
        <div class="website" style="margin-bottom:100px"><a href="https://bellucis.com.au/home.php">WEBSITE</a></div>
    </div>
</div>

<!-- Blu Giner -->
<div class="bgi bgi-bg">
    <div class="bgc bgs">
        <div class="restaurant" style="padding-bottom:100px;">
            <h1 class="niccone" style="padding-top:0px;">Blu Ginger</h1>
            <p class="rest-descrpt">
                "At Blu Ginger we use only the freshest locally sourced produce, combined with authentic
                spices imported directly from the sub-continent, to offer classic, traditional recipes with
                a modern twist, creating a unique and memorable dining experience for you."
            </p>
        </div>
        <div class="website" style="margin-bottom:100px"><a href="http://www.bluginger.com.au/">WEBSITE</a></div>
    </div>
</div>

<!-- Chairman & Yip -->
<div class="bgi bgi-cy">
    <div class="bgc bgs">
        <div class="restaurant" style="padding-bottom:100px;">
            <h1 class="niccone" style="padding-top:0px;">Chairman & Yip</h1>
            <p class="rest-descrpt">
                "The Chairman & Yip has become one of Canberra’s longest standing and most highly regarded institutions,
                having received numerous awards over the years, offering an ever consistent and professional quality
                of service for corporate dining, conferences and presentations."
            </p>
        </div>
        <div class="website" style="margin-bottom:100px"><a href="http://chairmangroup.com.au/chairmanyip/">WEBSITE</a></div>
    </div>
</div>

<!-- Dickson Asian Noodle House -->
<div class="bgi bgi-dn">
    <div class="bgc bgs">
        <div class="restaurant" style="padding-bottom:100px;">
            <h1 class="niccone" style="padding-top:0px;">Dickson Asian Noodle House</h1>
            <p class="rest-descrpt">
                "The Dickson Asian Noodle House specialises in traditional Malaysian, Thai and Lao cuisine.
                The dining atmosphere is casual and cosy providing for a la carte dining, banquets and take away."
            </p>
        </div>
        <div class="website" style="margin-bottom:100px"><a href="https://www.facebook.com/pages/Dickson-Asian-Noodle-House/156690017692038">WEBSITE</a></div>
    </div>
</div>

<!-- Italian and Sons -->
<div class="bgi bgi-is">
    <div class="bgc bgs">
        <div class="restaurant" style="padding-bottom:100px;">
            <h1 class="niccone" style="padding-top:0px;">Italian and Sons</h1>
            <p class="rest-descrpt">
                "A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma,
                rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig,
                rosemary, garlic, baked baby fennel & mustard fruits."
            </p>
        </div>
        <div class="website" style="margin-bottom:100px"><a href="http://italianandsons.com.au/">WEBSITE</a></div>
    </div>
</div>

<!-- Jewel of India -->
<div class="bgi bgi-ji">
    <div class="bgc bgs">
        <div class="restaurant" style="padding-bottom:100px;">
            <h1 class="niccone" style="padding-top:0px;">Jewel of India</h1>
            <p class="rest-descrpt">
                "Finding a balance between dishes inspired by authentic recipes and creating a modern take on
                classic cuisine sees a loyal following of Canberra locals returning for a mouth-watering feast."
            </p>
        </div>
        <div class="website" style="margin-bottom:100px"><a href="http://www.jewelofindia.com.au/">WEBSITE</a></div>
    </div>
</div>

<!-- Welcome To -->
<div class="container-fluid ml-1 mr-1">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12 pb30">
            <h1 id="blue" class="niccone">Welcome To</h1>
            <h2 class="oxygenh2">Canberra Restaurants</h2>
            <p style="padding-left:10px">
                At Canberra Restaurants, we provide an overview of restaurants
                within Canberra and allow you to find a mean based on a certain
                cuisine, a specific dish that you're after or if you're just after a
                meal within price range.
            </p>
            <p style="padding-left:10px"> We've got it all here for you. Just scroll down for further information.</p>
        </div>
        <div class="col-md-6 col-sm-12 col-12 welcome-image pb30">
            <div class="row centre p10">
                <div class="col-md-6 col-sm-6 col-6" style="background-size:90%"><img src="../images/burger.jpeg" alt="Hamburger and Chips" /></div>
                <div class="col-md-6 col-sm-6 col-6" style="background-size:90%"><img src="../images/pasta.jpeg" alt="Chicken pasta" /></div>
            </div>
        </div>
    </div>
</div>

<!-- CDPL -->
<div class="bgi">
    <div class="bgc">
        <div class="container-fluid bgc ml-1 mr-1">
            <div class="row IndexDisc">
                <div class="col-md-3 col-sm-12 col-12 block">
                    <h1 class="IndexHead niccone">Cuisines</h1>
                    <p>
                        The multicultural society in Canberra spoils the locals
                        with such a vast amount of flavours from around the world.
                    </p>
                    <p>
                        <a style="color:goldenrod" asp-controller="Home" asp-action="">Click Here</a> to find out more
                        about the different cuisines available
                    </p>
                </div>
                <div class="col-md-3 col-sm-12 col-12 block">
                    <h1 class="IndexHead niccone">Dishes</h1>
                    <p>With a great amount of cuisines comes a great amount of dishes!</p>
                    <p>There are so many amazing dishes out there for you to try.</p>
                    <p>
                        <a style="color:goldenrod" asp-controller="Home" asp-action="">Click Here</a> to look for a dish.
                    </p>
                </div>
                <div class="col-md-3 col-sm-12 col-12 block">
                    <h1 class="IndexHead niccone">Prices</h1>
                    <p>
                        Whether you're after a super cheap meal or want to treat yourself
                        to something a little more fancy. Canberra has it all.
                    </p>
                    <p>
                        <a style="color:goldenrod" asp-controller="Home" asp-action="">Click Here</a> to see
                        what's available in your price range.
                    </p>
                </div>
                <div class="col-md-3 col-sm-12 col-12 block">
                    <h1 class="IndexHead niccone">Locations</h1>
                    <p>
                        There might be the perfect meal waiting just around the corner from
                        you. Check out our locations page to find a restaurant near you!
                    </p>
                    <p>
                        <a style="color:goldenrod" asp-controller="Home" asp-action="">Click Here</a> to see
                        what's available near you.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Image Grid-->
<div class="container-fluid" style="padding: 40px">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12 q1"
             style="background-image:url(~/wwwroot/images/location/bellucis_logo.jpg); background-size: 100%; background-repeat:no-repeat;"
             onmouseover="makeImageBlur(this)" onmouseout="makeImageUnblur(this)" onclick="displayBigImage(this)">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q1"
             style="background-image:url(~/wwwroot/images/location/bluginger_logo.jpg); background-size: 100%; background-repeat:no-repeat;"
             onmouseover="makeImageBlur(this)" onmouseout="makeImageUnblur(this)" onclick="displayBigImage(this)">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q1"
             style="background-image:url(~/wwwroot/images/location/chairman_logo.jpg); background-size: 100%; background-repeat:no-repeat;"
             onmouseover="makeImageBlur(this)" onmouseout="makeImageUnblur(this)" onclick="displayBigImage(this)">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q1"
             style="background-image:url(~/wwwroot/images/location/noodle_logo.jpg); background-size: 100%; background-repeat:no-repeat;"
             onmouseover="makeImageBlur(this)" onmouseout="makeImageUnblur(this)" onclick="displayBigImage(this)">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q1"
             style="background-image:url(~/wwwroot/images/location/is_logo.jpg); background-size: 100%; background-repeat:no-repeat;"
             onmouseover="makeImageBlur(this)" onmouseout="makeImageUnblur(this)" onclick="displayBigImage(this)">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 q1"
             style="background-image: url(~/wwwroot/images/location/jewel_logo.jpg); background-size: 100%; background-repeat:no-repeat;"
             onmouseover="makeImageBlur(this)" onmouseout="makeImageUnblur(this)" onclick="displayBigImage(this)">
        </div>
    </div>
</div>

<div id="bgimage" class="grey-box"></div>
<br />
