@{
    ViewData["Title"] = "Home Page";
}

<div class="bgi">
    <div class="bgc bgs">
        <div id="introBox" style="margin-bottom:100px">Canberra Restaurants</div>
        <div id="quote" style="padding-bottom:100px;">
            <p class="frontQ">"People who love to eat are always the best people."</p>
            <h1 class="niccone" style="padding-top:0px;">Virginia Woolf</h1>
        </div>
    </div>
</div>
